.body {
    display: grid;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #222;
    min-width: 280px;
}

.h1{
    margin: 0;
}
/* ----- Gridarea ---- */

/* ----- Top nav ----- */
.top-nav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.top-nav a:hover {
  background-color: darkred;
  color: white;
}

/* Add a color to the active/current link */
.top-nav a.active {
  background-color: crimson;
  color: white;
}
/* ----- Top nav ----- */

/* ------ Side Navbar ----- */
.slide {
    background-color: crimson;
    top: 79px;
    /*top: 30px;*/
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -300px;
    transition: .3s;
    
  }
  .content{
    margin-right: 20px;
  }
  
  .slide span {
    background-color: crimson;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;

    cursor: pointer;

    height: 50px;
    width: 50px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;

    position: absolute;
    left: -50px;
}

.slide :active{
  background-color: #333;
}
.slide . {

}

.open  {
  right: 0;
}

.menu {
  width: 200px;
  height: 8vh;
  overflow-y: auto;
}
/* ----- Side Navbar ----- */


/* ----- maps-nav-dropdown ----- */
.sub_maps_hide {
  display: none;
}
/* ----- maps-nav-dropdown ----- */


/* ----- Characters ----- */
.agents {
  display: none;
}
/* ----- Agents page ----- */
.Agents {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 75px;
  grid-auto-flow: dense;
}
/* ----- Agents page ----- */

/* ----- Characters ----- */

/* ----- Weaponds ----- */
.weaponds {
  display: none;
}
/* ----- Weaponds ----- */


/* ----- Content ---- */
.old-code{
  display: none;
}

img.Peakers_advantage{
  min-width: 327px;
  min-height: 180px;
  max-width: 1vh;
  max-height: vh;
}
img.Peakers_advantage:hover {
  transform: scale(1);
  transition: .5s;
}
/* ----- Content ---- */

/* ----- Tablet/smaller devices ---- */

/* ----- Tablet/smaller devices ---- */