body {
    margin: 0;
    padding: 0;

    display: flexbox;

    grid-area: 
    "header"
    "img"
    "img"
    ;
}

.Weaponds-galleri {
    display: grid;
    justify-content: center;
}